---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<div class="ap-billboard__left-column">
  <img src="/img/homepage-profile.jpg" />
</div>
<div class="ap-billboard__right-column">
  <div class="ap-billboard__right-column__text">
  Hi! I'm April Prichard, a software engineer with full-stack expertise and the know-how to drive the project to completion. 
  </div>
  <div class="ap-billboard__right-column__logos">
    <a href="" ><img src="/img/github.png" /></a>
    <a href="" ><img src="/img/linkedin.png" /></a>
  </div>
</div>